html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1, p {
    text-align: center;
}

.centered-thing {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}